@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse {
  from { transform: rotate(0deg); }
  50% { transform: rotate(-180deg); }
  to { transform: rotate(-360deg); }
}

.deploying {
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
